0 1 * * * certbot renew --no-random-sleep-on-renew --standalone --no-self-upgrade --work-dir $CERTBOT_WORK_DIR --config-dir $CERTBOT_CONF_DIR --logs-dir $CERTBOT_LOG_DIR --pre-hook "apache2ctl stop" --post-hook "apache2ctl start" 2>&1
